/* 
    File: pwedu_TOC.css
    Version: v1
    Author: YYago
    HomePage: https://www.kancloud.cn/@pwedu
    Date: 2018-10-18 03:17:16
    Description: 
        1. 看云文档内容样式CSS，拷贝并存为 style/website.css使用，本地可以使用KC-CLI 命令：kc theme url [本文件 GitHub Raw地址] 快速获取。
        2. 本 CSS 只是针对文档插件：TOC 进行优化：
            2.1. 在大屏设备下[TOC] 固定到浏览器左上角（半透明处理）。
            2.2. 小屏设备保持原样。 
    Compatibility: >=IE6
    LICENSE: MIT
*/

/*TODO: 不可用，待补充*/
toc{
    /* IE5 - 7 */
filter: alpha(opacity=80); 
/* IE 8 */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
/* Everyone else */
opacity: 0.8;
}